<?xml version="1.0" encoding="utf-8"?>
<xsl:stylesheet version="1.0" xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:msxsl="urn:schemas-microsoft-com:xslt" exclude-result-prefixes="msxsl">
  <xsl:output method="xml" indent="yes"/>

  <!-- Default template -->
  <xsl:template match="node()|@*">
    <xsl:copy>
      <xsl:apply-templates select="node()|@*"/>
    </xsl:copy>
  </xsl:template>

  <xsl:template match="/configuration/appSettings/add[@key='SpaceManagmentOutgoingLocation']">
    <add key="SpaceManagmentOutgoingLocation" value="C:\IntegrationServices.dev\DataEncryptionServices\PGPEncryption\Accordant\Outgoing\"/>
  </xsl:template>
  <xsl:template match="/configuration/appSettings/add[@key='AuthorizedHeadcountReportConnection']">
    <add key="AuthorizedHeadcountReportConnection" value="Data Source=http://stgfoundationanalytics/DataFeeds/Space Planning/worker.xlsx;Catalog=WorkerDetails"/>
  </xsl:template>

</xsl:stylesheet>
